body {
  margin:0;
/*   padding:50px; */
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  background: #136AD2;
  background: #fff;

}
.logo {
  font-size:24px;
  padding-top:8px;
  text-transform:uppercase;
}
.toggle-bars {
  position: absolute;
  top:20px;
  right:30px;
  cursor:pointer;
}
.toggle-bars .bar {
  width:35px;
  background-color:#fff;
  margin: 7px 0;
  height:2px;
 
}
nav {
  padding:10px 30px;
  background-color:#2e2e2e;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  color:#f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height:50px;
  position: relative;
  border-radius:5px;
  text-align: left;
}
.nav {
  display: none;
}
.show {
  display: block !important;
}
.nav ul {
  list-style-type: none;
  padding:0;
  margin-left: -20px;
  margin-top: 13px;
}
.nav ul li {
  padding:10px 20px;
  font-size:16px;
  text-transform:uppercase;
}
.info {
  text-align: center;
  padding:100px 0;
  padding-top: 24px;
}
.info h1 {
  margin: 0;
  color: #ed788d;
   font-size: 24px;
  font-weight:400;
}
@media screen and (min-width:600px ){
  nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding:10px 30px;
  background-color:#252023;
  color:#f5f5f5;
}
  .toggle-bars {
    display: none;
  }
  .nav {
  display: block;
}
.nav ul {
  display: flex;
}
.nav ul li {
  padding:0 20px;
  font-size:16px;
}
  .info {
  text-align: center;
  padding:110px 0;
}
  .info h1 {
    font-size:52px;
  }

}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form { max-width:620px; margin:50px auto; }

.input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.button{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  text-decoration: none;
}

.button:hover{
  background:#CC4949; 
}